@using PCGD.Libs
@{
    ViewBag.Title = "Trang Chủ";
}
@if (!string.IsNullOrEmpty(NguoiDungLib.Get().TaiKhoan))
{
    <div class="jumbotron mb-3 text-center align-middle" style="min-height: calc(100vh - 150px);">
        <div class="bg-center">
            <h1 class="display-4">Xin chào! <span style="text-transform: capitalize;">@NguoiDungLib.Get().TaiKhoan</span></h1>
            <p class="lead">Đây là hệ thống hỗ trợ phân công giảng dạy cho giáo viên trường Đại Học An Giang.</p>
        </div>
    </div>
}
else
{
    <div class="jumbotron mb-3 text-center align-middle" style="min-height: calc(100vh - 150px);">
        <div class="bg-center">
            <h1 class="display-4">Xin chào! Khách</h1>
            <p class="lead">Đây là hệ thống hỗ trợ phân công giảng dạy cho giáo viên trường Đại Học An Giang.</p>
        </div>
    </div>
}