@{
    ViewBag.Title = "Trang Chủ";
}

<div class="jumbotron mb-3">
    <h1 class="display-4">Xin chào! khách</h1>
    <p class="lead">Đây là hệ thống hỗ trợ phân công giảng dạy cho giáo viên trường Đại Học An Giang.</p>
    <hr class="my-4">
    <p>Nếu bạn không phải là giáo viên thì không thể có tài khoản để đăng nhập nhé.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fal fa-id-card"></i> Liên hệ</a>
</div>