@{
    ViewBag.Title = "Unauthorized";
}
<div class="card border-danger">
    <h5 class="card-header"><i class="fal fa-exclamation-triangle text-danger"></i> @ViewBag.Title</h5>
    <div class="card-body">
        Bạn không đủ quyền để truy cập khu vực này! Vui lòng trở lại <a class="text -decoration-none" href="@Url.Action("Index")">trang chính
    </div>
</div>