@model PCGD.Models.TongHop

@{
    ViewBag.Title = "Danh Sách Tổng Hợp Giảng Viên";
}

<div class="card">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        @{ 
            var Data = PCGD.Libs.TongHopLib.GetTongHopModel(Model.ID);
        }
        @foreach (var t in Data)
        {
            <strong>
                @t.TenGV - @t.HocKi1 - @t.HocKi2
            </strong>
            <br />
        }
    </div>
</div>